<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Company Search</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
  <nav class="navbar navbar-default ">
  <div id="s-form" class="container-fluid">
    <form action="javascript:void(0)" class="form-inline text-center" id="search-form">
      <label for="search-term">Company Name:</label>
      <input id="search-term" type="text" placeholder="type in company name" class="form-control" autofocus>
      <input type="submit" for="search-term" value="Search" class="btn btn-primary">
    </form>
  </div>
  <div id="crumb">
    <ol class="breadcrumb">
      <li><a id="see-saved" href="#">Home</a></li>
    </ol>
  </div>
  </nav>
  
  <div id="saved-co"></div>
  <div class="show container">
  <div id="results">
    <ul>
      
    </ul>
    <a id='full' href="#">See more</a>
  </div>
  <div class="row">
    <div id="companyCB" class="col-sm-8 crunchbase"></div><div class="col-sm-offset-1 col-sm-3 co-focus"><ul></ul></div>
    <div class="col-sm-11 co-news"><ul></ul></div>
  </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>