body {
  width: 95%;
  margin: 0 auto;
}

#s-form {
  width: 100%;
  margin-top: 1em;
  display: block;
}

#s-form label {
  font-size: 1.3em;
}

#search-term {
  width: 50%;
}

#crumb ol {
  background-color: white;
}